@import "~ant-design-vue/lib/style/themes/default";
@deep: ~'>>>';

ul,ol,li,dl,dd,dt{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
.pull-right{
  float: right;
}

.btn-block{
  width: 100%;
  display: block;
}

.table-operations{
  margin-bottom: 16px;
}
.ant-btn + .ant-btn {
  margin-left: 8px;
}

// 文本样式
.text-primary{
  color: @primary-color;
}
.text-danger{
  color: @error-color;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.text-sm{
  font-size: 12px;
}

// 趋势样式
.trend-up{ color: #f5222d; }
.trend-down{ color: #52c41a; }
.trend-icon{ font-size: 12px; transform: scale(.8);}

.drawer .ant-drawer-body{
  padding: 0;
  height: 100vh;
}
